<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMY data Map</title>
    <link rel="stylesheet" href="/static/css/leaflet.css" />
    <link rel="stylesheet" href="/static/css/map-tmy_styles.css" />
</head>
<body>
    <div style="position: relative;height:670px;width: 30%;">
        <div id="selectedMarkers">
            <span id="markerNames"></span>
        </div>
        <div style="position:absolute;bottom: 10px;">
            <button id="downloadButton1">다운로드allfiles</button>
            <button id="downloadButton2">다운로드inOnefile</button>
            <button id="downloadButton3">다운로드inZip</button>
        </div>
    </div>
    
    <div id="map"></div>
    <div id="checklist">
        <h2>체크리스트</h2>
        <ul id="markerChecklist">
            <li>
                <span class="toggle-button" onclick="toggleChildList('2021_100_list')">▶</span>
                <input type="checkbox" id="2021_100" class="parent-checkbox">
                <label for="2021_100">2021_100</label>
                <ul id="2021_100_list" class="child-list"></ul>
            </li>
            <li>
                <span class="toggle-button" onclick="toggleChildList('2022_200_list')">▶</span>
                <input type="checkbox" id="2022_200" class="parent-checkbox">
                <label for="2022_200">2022_200</label>
                <ul id="2022_200_list" class="child-list"></ul>
            </li>
            <li>
                <span class="toggle-button" onclick="toggleChildList('2023_700_list')">▶</span>
                <input type="checkbox" id="2023_700" class="parent-checkbox">
                <label for="2023_700">2023_700</label>
                <ul id="2023_700_list" class="child-list"></ul>
            </li>
        </ul>
    </div>
    <script src="/static/js/leaflet.js"></script>
    <script src="/static/js/papaparse.min.js"></script>
    <script src="/static/js/jszip.min.js"></script>
    <script src="/static/js/jszip-utils.min.js"></script>
    <script src="/static/js/FileSaver.min.js"></script>
    <script src="/static/js/map-tmy_map.js"></script>
    <script src="/static/js/map-tmy_checklist.js"></script>
    <script src="/static/js/map-tmy_download.js"></script>
    <script src="/static/js/map-tmy_main.js"></script>
</body>
</html>
